<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>S J</title>

    <link rel="icon" type="image/png" href="img/logo.png" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/moment.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery-ui.js"></script>

    <script src="js/all.min.js" crossorigin="anonymous"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/angular-route.js"></script>

    <link rel="stylesheet" href="css/jquery.dataTables.min.css" />
    <script src="js/angular-datatables.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>

    <script
      src="js/html2pdf.bundle.min.js"
      integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  </head>
  <body class="sb-nav-fixed sb-sidenav-toggled" ng-app="myApp">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#!" ng-if="!company">Billing</a
      ><a class="navbar-brand" href="#!" ng-if="company"
        >{{company.company_name}}</a
       
      >
      <img src="img/logo.png" class="logo-main">
      <button
        class="btn btn-link btn-sm order-1 order-lg-0"
        id="sidebarToggle"
        href="#"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search-->
      <form
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
      >
        <div class="input-group date-time">{{d}} {{t}}</div>
      </form>
      <form
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
      >
        <div
          class="input-group date-time"
          style="cursor: pointer"
          ng-click="clearData()"
        >
          <i class="fa fa-thermometer-empty backup-icon" aria-hidden="true"></i>
        </div>
      </form>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group date-time" style="cursor: pointer" ng-click="backup()">
          <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="userDropdown"
            href=""
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fas fa-user fa-fw"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="userDropdown"
          >
            <a class="dropdown-item" href=""
              ><i class="fa fa-user" aria-hidden="true"></i> {{loginUser}}</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#!company"
              ><i class="fa fa-home" aria-hidden="true"></i> Company</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item poiner" ng-click="logout()"
              ><i class="fa fa-anchor" aria-hidden="true"></i> Logout</a
            >
          </div>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Welcome</div>

              <a class="nav-link" href="#!dashboard">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>

              <a
                class="nav-link collapsed"
                href=""
                data-toggle="collapse"
                data-target="#sales"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </div>
                Sales
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="sales"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="#!newSale">New Sales</a>
                  <a class="nav-link" href="#!allSales">All Sales</a>
                  <a class="nav-link" href="#!reprint">Print Invoice</a>

                  <a class="nav-link" href="#!allCreditBillsSales">All Credit Bills</a>
                  <a class="nav-link" href="#!pendingCreditBillsSales">Pending Credit Bills</a>

                </nav>
              </div>

              <a
                class="nav-link collapsed"
                href=""
                data-toggle="collapse"
                data-target="#purchase"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                Purchase
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="purchase"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="#!newPurchase">New Purchase</a>
                  <a class="nav-link" href="#!allPurchase">All Purchase</a>
                  <a class="nav-link" href="#!allCreditBillsPurchase">All Credit Bills</a>
                  <a class="nav-link" href="#!pendingCreditBillsPurchase">Pending Credit Bills</a>
                </nav>
              </div>

              <a
                class="nav-link collapsed"
                href=""
                data-toggle="collapse"
                data-target="#stock"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                Stock Master
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="stock"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="#!allStock">All Stock</a>
                </nav>
              </div>

              <a
                class="nav-link collapsed"
                href=""
                data-toggle="collapse"
                data-target="#item"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </div>
                Items & Brands
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="item"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="#!items">Items</a>
                  <a class="nav-link" href="#!brands">Brands</a>
                  <a class="nav-link" href="#!units">Unit</a>
                  <a class="nav-link" href="#!priceDetails">Price Details</a>
                </nav>
              </div>
              <a
                class="nav-link collapsed"
                href=""
                data-toggle="collapse"
                data-target="#cs"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                Supplier & Customer
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="cs"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="#!supplier">Supplier</a>
                  <a class="nav-link" href="#!customer">Customer</a>
                </nav>
              </div>
                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#return" aria-expanded="false"
                  aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                  </div>
                  Returns
                  <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                  </div>
                </a>
                <div class="collapse" id="return" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#!purchaseReturn">Purchase Return</a>
                    <a class="nav-link" href="#!salesReturn">Sales Return</a>
                  </nav>
                </div>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main ng-view></main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; SJ {{d1.getFullYear()}}</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="loading-overlay is-active" ng-show="loader">
      <span class="fas fa-spinner fa-3x fa-spin"></span>
    </div>

    <script src="js/scripts.js"></script>
    <script src="controller/main.js"></script>
    <script src="controller/dashboard.js"></script>
    <script src="controller/brands.js"></script>
    <script src="controller/units.js"></script>
    <script src="controller/items.js"></script>
    <script src="controller/newPurchase.js"></script>
    <script src="controller/supplier.js"></script>
    <script src="controller/customer.js"></script>
    <script src="controller/priceDetails.js"></script>
    <script src="controller/allPurchase.js"></script>
    <script src="controller/allStock.js"></script>
    <script src="controller/company.js"></script>
    <script src="controller/newSales.js"></script>
    <script src="controller/invoice.js"></script>
    <script src="controller/reprint.js"></script>
    <script src="controller/allSales.js"></script>
    <script src="controller/allCreditBillsPurchase.js"></script>
    <script src="controller/pendingCreditBillsPurchase.js"></script>
    <script src="controller/pendingCreditBillPurchase.js"></script>
    <script src="controller/allCreditBillsSales.js"></script>
    <script src="controller/pendingCreditBillsSales.js"></script>
    <script src="controller/pendingCreditBillSales.js"></script>
    <script src="controller/purchaseReturn.js"></script>
    <script src="controller/salesReturn.js"></script>
  </body>
</html>
