<div class="container-fluid">
  <h1 class="mt-4">Opening Stock</h1>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                ng-model="itemName"
                id="itemName"
                placeholder="Item Name"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                ng-model="qty"
                id="qty"
                placeholder="Stock"
              />
            </div>
          </div>
          <div class="col-4">
            <button
              type="button"
              class="btn btn-primary"
              ng-click="addNewStock()"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      All Stock Details
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered bordered table-striped table-condensed datatable"
          datatable="ng"
          dt-options="vm.dtOptions"
        >
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Name</th>
              <th>Brand</th>
              <th>Stock</th>
              <th>Edit</th>
            </tr>
          </thead>

          <tbody>
            <tr
              ng-repeat="stock in allStock track by $index"
              ng-style="stock.stock < 5 ? {'background': 'yellow'} : (stock.stock = 0 ? {'background': 'red'} : '')"
            >
              <td>{{stock.item_id}}</td>
              <td>{{stock.item_name}}</td>
              <td>{{stock.brand}}</td>
              <td>{{stock.stock1}}</td>
              <td
                style="text-align: center"
                class="poiner"
                ng-click="openModalUpdateStock(stock)"
              >
                <i class="fa fa-edit" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateStock">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Stock</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                ng-model="updatedStock.stock1"
                placeholder="Stock"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="updateStock()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
