
<div class="container-fluid">
    <h1 class="mt-4">Brands</h1>
    <div class="card">
        <div class="card-body">
            <form ng-submit="addBrand()">

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                    <input type="text" class="form-control" ng-model="newBrand" id="brand" placeholder="Brand Name">
                  </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Add</button>

                </div>
              </div>
              </form>
        </div>
      </div>
   <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            All Brands
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered bordered table-striped table-condensed datatable"  datatable="ng" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th>Brand Code</th>
                            <th>Brand Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        <tr ng-repeat="brand in allBrands track by $index">
                            <td>{{brand.brand_id}}</td>
                            <td>{{brand.brand_name}}</td>       
                            <td  style="text-align: center;" class="poiner" ng-click="openModalUpdateBrand(brand)"><i class="fa fa-edit" aria-hidden="true"></i></td>                  
                            <td style="text-align: center;" class="poiner" ng-click="deleteBrand(brand.brand_id)"><i class="fa fa-trash" aria-hidden="true"></i></td>                  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateBrand">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update brand name</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                    <input type="text" class="form-control" ng-model="updatedBrand.brand_name" placeholder="Brand Name">
                  </div>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="updateBrand()">Save</button>
        </div>
        
      </div>
    </div>
  </div>
  