<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <form class="text-center border border-light p-5 company-form">
            <p class="h4 mb-4">Company Details</p>

            <input
              type="text"
              class="form-control mb-4"
              placeholder="Company Name"
              ng-model="companyName"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Mob"
              ng-model="mob"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Land Phone"
              ng-model="landPhone"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Email"
              ng-model="email"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="GST No"
              ng-model="gst"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Address Line 1"
              ng-model="address1"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Address Line 2"
              ng-model="address2"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Place"
              ng-model="place"
            />
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Pin"
              ng-model="pin"
            />

            <!-- Sign in button -->
            <button
              class="btn btn-info btn-block my-4"
              type="button"
              ng-click="addCompany()"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
