<div class="container-fluid">
 <br>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Pending Credit Bills (Sales) 
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered bordered table-striped table-condensed datatable"
          datatable="ng"
          dt-options="vm.dtOptions"
        >
          <thead>
            <tr>
              <th>Invoice No</th>
              <th>Invoice Date</th>
              <th>Supplier</th>
              <th>Total Amount</th>
              <th>Paid</th>
              <th>Balance</th>
              <th>Status</th>
              <th>Update</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="purchase in allPurchases track by $index">
              <td>{{purchase.invoice_no}}</td>
              <td>{{purchase.invoice_date}}</td>
              <td>{{purchase.c_name}}</td>
              <td>{{purchase.total_amount}}</td>
              <td>{{purchase.paid}}</td>
              <td>{{purchase.balance}}</td>
              <td>{{purchase.status}}</td>
              <td
                style="text-align: center"
                class="poiner"
                ng-click="open(purchase.invoice_no)"
              >
                <i class="fa fa-edit" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

