<div class="container-fluid">
 <br>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Pending Credit Purchase 
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered bordered table-striped table-condensed datatable"
          datatable="ng"
          dt-options="vm.dtOptions"
        >
          <thead>
            <tr>
              <th>Voucher No</th>
              <th>Invoice No</th>
              <th>Invoice Date</th>
              <th>Supplier</th>
              <th>Total Amount</th>
              <th>Paid</th>
              <th>Balance</th>
              <th>Status</th>
              <th>Update</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="purchase in allPurchases track by $index">
              <td>{{purchase.voucher_no}}</td>
              <td>{{purchase.invoice_no}}</td>
              <td>{{purchase.invoice_date}}</td>
              <td>{{purchase.s_name}}</td>
              <td>{{purchase.total_amount}}</td>
              <td>{{purchase.paid}}</td>
              <td>{{purchase.balance}}</td>
              <td>{{purchase.status}}</td>
              <td
                style="text-align: center"
                class="poiner"
                ng-click="open(purchase.voucher_no)"
              >
                <i class="fa fa-edit" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="items">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Items</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table
                class="table table-bordered bordered table-striped table-condensed datatable"
                datatable="ng"
                dt-options="vm.dtOptions"
              >
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Selling Price</th>
                    <th>Purchase Rate</th>
                    <th>Qty</th>
                    <th>GST</th>
                    <th>Tax</th>
                    <th>Discount</th>
                    <th>Total</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="item in allPurchasesItems track by $index">
                    <td>{{item.item}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.selling_price}}</td>
                    <td>{{item.purchase_rate}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.gst}}</td>
                    <td>{{item.tax_amount}}</td>
                    <td>{{item.discount}}</td>
                    <td>{{item.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
