<div class="container-fluid">
  <h3 class="mt-4">Search Purchase</h3>
  <div class="card">
    <div class="card-body">
      <form ng-submit="getPurchase()">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="voucherNo" placeholder="Voucher No"
                style="text-transform:uppercase" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="invoiceNo" placeholder="Invoice No" />
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h5 class="mt-4">Purchase Details</h5>
  <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            
            <div class="row">
              <div class="col-md-6">
            ss
              </div>
              <div class="col-md-6">
              ss
              </div>
              <div class="col-md-6">
                ss
              </div>
              <div class="col-md-6">
                ss
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                ss
              </div>
              <div class="col-md-6">
                ss
              </div>
              <div class="col-md-6">
                ss
              </div>
              <div class="col-md-6">
                ss
              </div>
            </div>
          
          </div>
        </div>
    </div>
  </div>
</div>