<div class="container-fluid">
  <h3 class="mt-4">View / Edit Purchase</h3>
  <div class="card">
    <div class="card-body">
      <form ng-submit="getInvoice()">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                ng-model="voucherNo"
                placeholder="Voucher No"
                style="text-transform:uppercase"
              />
            </div>
          </div>
          <div class="col-2 text-center">
            <div class="form-group">
              OR
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="invoiceNo" placeholder="Invoice No" />
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
